{% extends "blacklist/basic.html" %}

{% block values %}

<table border=0 align=center  style="font-size: 12pt;
border: 3px lightgray solid;
border-radius: 15px;
padding-right: 10px;
width:100%;
padding-left: 10px;" class="fixed_header">

<thead>

  <tr class="row">

    <td id='s'>CHR</td>
    <td id='m'>POS</td>
    <td id='m'>rsID</td>
    <td id='l'>reason</td>
    <td id='xl'>WHO</td>
    <td id='m'>date</td>
    <td id='xl'>
      edit/delete
    </td>
  </tr>
</thead>

<tbody>

  {% for v in blk_list %}
  {%if v == blk %}
  <form method="POST" action="{% url 'blacklist:edit_done' v.id %}">
    {% csrf_token %}
    <tr align=center>


      <td id='s'><input type='text' value={{v.chr }}  name='chr' size='1' /></td>
      <td id='m'><input type='text' value={{v.pos }} name='pos' size='5' /></td>
      <td id='m'><input type='text' value={{v.rsid }} name='rsid' size='5' /></td>
      <td id='l'><input type='text' value={{v.reason }} name='reason' size='11'/></td>
      <td id='xl'><input type='text' value={{v.who }}  name='who' size='6'/></td>
      <td id='m'> <input type='text' value='cant; fix' size='5' disabled /></td>
      <td id='xl'>
        <input type='submit' value="✅" title='edit!!' style="font-size:100%;" />
        <a href="{% url 'blacklist:index' %}"><input type='button' value="✖️" title='cancel edit' style="font-size:100%;" /></a>

      </td>
    </tr>
  </form>
  {% else %}
  <tr align=center>


    <td id='s'>{{ v.chr }}</td>
    <td id='m'>{{ v.pos }}</td>
    <td id='m'>{{ v.rsid }}</td>
    <td id='l'>{{ v.reason }}</td>
    <td id='xl'>{{ v.who }}</td>
    <td id='m'>{{v.date.date }}</td>
    <td id='xl'>
      <a href="{% url 'blacklist:edit' v.id %}"><input type='button' value="✏️" title='edit' style="font-size:100%;" /></a>
      <a href="{% url 'blacklist:remove' v.id %}"><input type='button' value="❌" title='remove' style="font-size:100%;" /></a>
    </td>
  </tr>

  {% endif %}
  {% endfor %}
</tbody>
</table>
{% endblock %}
