{% extends "blacklist/basic.html" %}

{% block values %}

<table border=0 align=center  style="font-size: 12pt;
border: 3px lightgray solid;
border-radius: 15px;
padding-right: 10px;
width:100%;
padding-left: 10px;" class="fixed_header">

<thead>

  <tr class="row">

    <td id='s'>CHR</td>
    <td id='m'>POS</td>
    <td id='m'>rsID</td>
    <td id='l'>Reason</td>
    <td id='xl'>Who</td>
    <td id='m'>Date</td>
    <td id='xl'>
      edit/delete
    </td>
  </tr>
</thead>

<tbody>

  {% if result %}
  {% for v in result %}
  <tr align=center>


    <td id='s'>{{ v.chr }}</td>
    <td id='m'>{{ v.pos }}</td>
    <td id='m'>{{ v.rsid }}</td>
    <td id='l'>{{ v.reason }}</td>
    <td id='xl'>{{ v.who }}</td>
    <td id='m'>{{ v.date.date }}</td>
    <td id='xl'>
      <a href="{% url 'blacklist:edit' v.id %}"><input type='button' value="✏️" title='edit' style="font-size:100%;" /></a>
      <a href="{% url 'blacklist:remove' v.id %}"><input type='button' value="❌" title='remove' style="font-size:100%;" /></a>

    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan=7 class='messages' style="font-size:100%;"><br>N O N E D A T A
    </td>
  </tr>
  {% endif %}
</tbody>
</table>
{% endblock %}
