
<style>

  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: indianRed;
    color: white;
    border-radius: 5px;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

</style>
{% extends "blacklist/basic.html" %}
{% block values %}

<table border=0 align=center  style="font-size: 12pt;
border: 3px lightgray solid;
border-radius: 15px;
padding-right: 10px;
width:100%; height:80%;
padding-left: 10px;" class="fixed_header">

<thead>

  <tr class="row">

    <td id='s'>CHR</td>
    <td id='m'>POS</td>
    <td id='m'>rsID</td>
    <td id='l'>Reason</td>
    <td id='xl'>Registered by</td>
    <td id='m'>Date</td>
    <td id='xl'>
      edit/delete
    </td>
  </tr>
</thead>

<tbody>

  {% if result %}
  {% for v in result %}
  <tr align=center>


    <td id='s'>{{ v.chr }}</td>
    <td id='m'>{{ v.pos }}</td>
    <td id='m'>{{ v.rsid }}</td>
    <td id='l'>{{ v.reason }}</td>
    <td id='xl'>{{ v.who }}</td>
    <td id='m'>{{ v.date.date }}</td>
    <td id='xl'>
      <a href="{% url 'blacklist:detail' v.id %}"><input type='button' value="✏️ / ❌" title='edit' style="font-size:100%;" /></a>

    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan=7 class='messages' style="font-size:100%;"><br>N O N E D A T A
    </td>
  </tr>
  {% endif %}
</tbody>
</table>



{# --------------------------------------------------------------------- #}
{#  pagination  & CSS  #}
{# --------------------------------------------------------------------- #}

{% if result.has_other_pages %}
<div class="pagination">
  {% if result.has_previous %}
  <a href="?page=1">First</a>
  <a href="?page={{ result.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in result.paginator.page_range %}
  {% if result.number == num %}
  <a class="active" href="?page={{ num }}">{{ num }}</a>
  {% elif num > result.number|add:'-3' and num < result.number|add:'3' %}
  <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if result.has_next %}
  <a href="?page={{ result.next_page_number }}">Next</a>
  <a href="?page={{ result.paginator.num_pages }}">Last</a>
  {% endif %}
</div>
{% endif %}
<br>
{% endblock %}
