<!DOCTYPE html>
<html>
<title>
  Home/Sample Inventory
</title>
<head>
  <meta charset="UTF-8">
</head>

<body>
  <input type=button value="HOME 🏠" style="width:130px;" onclick="window.location.href='http://127.0.0.1:8000'" />
  <table align=center width=600>
    <tr>
      <td colspan=6 align=right>
        {% for message in messages %}
        <label class="messages1">
          &nbsp;📢 {{ message }} 📢
        </label>
        {% empty %}
        <label class="messages">
          &nbsp;📢 only [ .csv ] files avaliable for file upload! 📢
        </label>
        {% endfor %}<br><br>

      </td>
    </tr>
    <tr>
      <td colspan=6 id=title>
        👩🏻‍🔬 Sample Inventory
        <br><br>
        <br>
      </td>
    </tr>

    <tr align=center>
      <form action="{% url 'infos:search' %}" method='POST'>
        <td colspan="6">
          <select name='option_name' class='srch'>
            <option value="rack_num">rack number</option>
            <option value="box_num">box number</option>
            <option value="barcode_num">barcode number</option>
            <option value="well_num">well number</option>
            <option value="freezer_num">freezer number</option>
          </select>
          {% csrf_token %}
          <input type=text placeholder="search" name='search' style="width:60%;" />
          <input type='submit' title='search' value="🔍" style="font-size:100%;" />
        </td>
      </form>
    </tr>

    <tr>
      <td colspan=6 class='result'>{{ result }}</td>
    </tr>

    <tr>
      <td colspan=6><br></td>
    </tr>

    <tr style="font-size:90%; font-style:bold" align=center>
      <td colspan=6>
        {% block values %}

        {% endblock %}
        <input type=button onclick="exportTableToCSV('result(sample_inventory).csv')" value='TABLE DOWNLOAD' style="width:20%;"></button>

      </td>

    <tr>
      <td colspan=6><br> </td>
    </tr>



    <form method="POST" action="{% url 'infos:add_new' %}">
      {% csrf_token %}
      <tr align=center class="addd">
        <td><input type='text' id="s" name='rack_num' placeholder="rack" /></td>
        <td><input type='text' id="l" name='box_num' placeholder="box" /></td>
        <td><input type='text' id="l" name='barcode_num' placeholder="barcode" /></td>
        <td><input type='text' id="m" name='well_num' placeholder="well" /></td>
        <td><input type='text' id="xl" name='freezer_num' placeholder="freezer" /></td>
        <td><input type='submit' value=" ADD " title='add data' style="width:100%; font-size:100%;" class='btn' /></a>
        </td>
      </tr>
    </form>

    <form method="POST" enctype="multipart/form-data" action="{% url 'infos:upload' %}">
      {% csrf_token %}
      <tr>
        <td colspan=6 align=center>
          <input type="file" name="file" id="id_file" style="width:72%" />
          <input type="submit" value=" FILE UPLOAD " class='btn' style="font-size:100%; width:26%" />
        </td>
      </tr>
      <tr>
        <td colspan=6 align=left>
          <a href="{% url 'infos:file_download' %}"><input type='button' value="example download"
              title='sample file download'></a>
        <button onclick="window.open('usage')" style="  background: rgb(230, 230, 230);
            text-align: center;
                border: 2px solid red;
                border-radius: 4px;
                height:30px;">💢 Sample Inventory Usage 💢</button>
        </td>
      </tr>

    </form>
  </table>


  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'blacklist/style.css' %}" />
  </body>
</html>

<script>
function downloadCSV(csv, filename) {
  var csvFile;
  var downloadLink;

  // CSV file
  csvFile = new Blob([csv], {type: "text/csv"});

  // Download link
  downloadLink = document.createElement("a");

  // File name
  downloadLink.download = filename;

  // Create a link to the file
  downloadLink.href = window.URL.createObjectURL(csvFile);

  // Hide download link
  downloadLink.style.display = "none";

  // Add the link to DOM
  document.body.appendChild(downloadLink);

  // Click download link
  downloadLink.click();
}

function exportTableToCSV(filename) {
  var csv = [];
  var rows = document.querySelectorAll("table tr");

  for (var i = 0; i < rows.length; i++) {
    var tb=rows[i].querySelectorAll("table");
    if( tb.length !== 0){
        continue;
    }
    txt = rows[i].innerText
    csv.push(txt);
  }

  // Download CSV file
  downloadCSV(csv.join("\n"), filename);
}
</script>
