<!DOCTYPE html>
<html>
<title>
  Home/Sample Inventory
</title>
<head>
  <meta charset="UTF-8">
</head>

<body>
  <input type=button value="HOME 🏠" style="width:130px;" onclick="window.location.href='http://localhost:8000'" />
  <table align=center width=600>
    <tr>
      <td colspan=6 align=right>
        {% for message in messages %}
        <label class="messages1">
          &nbsp;📢 {{ message }} 📢
        </label>
        {% empty %}
        <label class="messages">
          &nbsp;📢 only [ .csv ] files avaliable for file upload! 📢
        </label>
        {% endfor %}<br><br>

      </td>
    </tr>
    <tr>
      <td colspan=6 id=title>
        👩🏻‍🔬 Sample Inventory
        <br><br>
        <br>
      </td>
    </tr>

    {# ---------------------------------------------------------------- #}
    {# search #}
    {# ---------------------------------------------------------------- #}

    <tr align=center>
      <form action="{% url 'infos:search_btn' %}" method='POST'>
        <td colspan="6">
          <select name='option_name' class='srch'>
            <option value="rack_num">rack number</option>
            <option value="box_num">box number</option>
            <option value="barcode_num">barcode number</option>
            <option value="well_num">well number</option>
            <option value="freezer_num">freezer number</option>
          </select>
          {% csrf_token %}
          <input type=text placeholder="search" name='search' style="width:60%;" />
          <input type='submit' title='search' value="🔍" style="font-size:100%;" />
        </td>
      </form>
    </tr>

    <tr>
      <td colspan=6 class='result'>{{ result }}</td>
    </tr>

    <tr>
      <td colspan=6><br></td>
    </tr>

    <tr style="font-size:90%; font-style:bold" align=center>
      <td colspan=6>
        {% block values %}

        {% endblock %}
        <br>
      </td>
    </tr>
    {# ---------------------------------------------------------------- #}
    {# report download #}
    {# ---------------------------------------------------------------- #}

    <tr>
      <td colspan=6><br> <input type=button value="save current data" style="width:130px;" onclick="window.location.href='http://localhost:8000/infos/download_all'"></button>
 </td>
    </tr>

    {# ---------------------------------------------------------------- #}
    {# add new #}
    {# ---------------------------------------------------------------- #}

    <form method="POST" action="{% url 'infos:add_new' %}">
      {% csrf_token %}
      <tr align=center class="addd">
        <td><input type='text' id="s" name='rack_num' placeholder="rack" /></td>
        <td><input type='text' id="l" name='box_num' placeholder="box" /></td>
        <td><input type='text' id="l" name='barcode_num' placeholder="barcode" /></td>
        <td><input type='text' id="m" name='well_num' placeholder="well" /></td>
        <td><input type='text' id="xl" name='freezer_num' placeholder="freezer" /></td>
        <td><input type='submit' value=" ADD " title='add data' style="width:100%; font-size:100%;" class='btn' /></a>
        </td>
      </tr>
    </form>

    {# ---------------------------------------------------------------- #}
    {# about files #}
    {# ---------------------------------------------------------------- #}

    <form method="POST" enctype="multipart/form-data" action="{% url 'infos:upload' %}">
      {% csrf_token %}
      <tr>
        <td colspan=6 align=center>
          <input type="file" name="file" id="id_file" style="width:72%" />
          <input type="submit" value=" FILE UPLOAD " class='btn' style="font-size:100%; width:26%" />
        </td>
      </tr>
      <tr>
        <td colspan=6 align=left>
          <a href="{% url 'infos:file_download' %}"><input type='button' value="example download"
              title='sample file download'></a>
        <button onclick="window.open('http://localhost:8000/infos/usage')" style="  background: rgb(230, 230, 230);
            text-align: center;
                border: 2px solid red;
                border-radius: 4px;
                height:30px;">💢 Sample Inventory Usage 💢</button>
        </td>
      </tr>

    </form>
  </table>


  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'infos/style.css' %}" />
  </body>
</html>
