<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
</head>

<body>
  <input type=button value="HOME 🏠" style="width:130px;" onclick="window.location.href='http://10.33.2.222:8080'" />
  <table align=center width=600>
    <tr align=center>
      <td colspan=6 class='img' height=160>
        <br>
      </td>
    </tr>

    <tr align=center>
      <form action="{% url 'infos:search' %}" method='POST'>
        <td colspan="6">
          <select name='option_name' class='srch'>
            <option value="rack_num">rack number</option>
            <option value="box_num">box number</option>
            <option value="barcode_num">barcode number</option>
            <option value="well_num">well number</option>
            <option value="freezer_num">freezer number</option>
          </select>
          {% csrf_token %}
          <input type=text placeholder="search" name='search' style="width:60%;" />
          <input type='submit' title='search' value="🔍" style="font-size:100%;" />
        </td>
      </form>
    </tr>

    <tr>
      <td colspan=6 class='result'>{{ result }}</td>
    </tr>

    <tr>
      <td colspan=6><br></td>
    </tr>
    
    <tr style="font-size:90%; font-style:bold" align=center>
        <td colspan=6>
            {% block values %}

        {% endblock %}
      </td>

    <tr>
      <td colspan=6><br> </td>
    </tr>



    <form method="POST" action="{% url 'infos:add_new' %}">
      {% csrf_token %}
      <tr align=center class="addd">
        <td><input type='text' class="smallsize" name='rack_num' placeholder="rack" /></td>
        <td><input type='text' class="smallsize" name='box_num' placeholder="box" /></td>
        <td><input type='text' class="bigsize" name='barcode_num' placeholder="barcode" /></td>
        <td><input type='text' class="smallsize" name='well_num' placeholder="well" /></td>
        <td><input type='text' class="smallsize" name='freezer_num' placeholder="freezer" /></td>
        <td><input type='submit' value=" ADD " title='add data' style="width:100%; font-size:100%;" class='btn' /></a>
        </td>
      </tr>
    </form>

    <form method="POST" enctype="multipart/form-data" action="{% url 'infos:upload' %}">
      {% csrf_token %}
      <tr>
        <td colspan=6 align=center>
          <input type="file" name="file" id="id_file" style="width:72%" />
          <input type="submit" value=" FILE UPLOAD " class='btn' style="font-size:100%; width:26%" />
        </td>
      </tr>
      <tr>
        <td colspan=6 align=left>
          <a href="{% url 'infos:file_download' %}"><input type='button' value="example download" title='sample file download'></a>
        </td>
      </tr>
      <tr>
        <td colspan=6 align=center>


          <br>
          {% for message in messages %}
            <ul class="messages1">
            <li>{{ message }}</li>
          </ul>
            {% empty %}
            <ul class="messages">
              <li> only [ .txt ] files avaliable !</li>
            </ul>


            {% endfor %}
        </td>
      </tr>
    </form>
  </table>


  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'infos/style.css' %}" />
</body>

</html>