<head>
  <title>
  </title>
</head>

<body>
  <table style='border:2px solid lightgray; border-radius:5px' align=center>
    <tr>
      <td colspan=8 class='img' width=500 height=100>

      </td>
    </tr>
      <tr align='right'>
        <td colspan=8 style="font-size:80%">
          {% if currUsingFile %}
          latest update : {{currUsingFile.down_date }}
          {% else %}
          nothing to show(ask to hongju)
          {% endif %}
        </td>

      </tr>
    <form method="POST" action="{% url 'search:searchRS' %}">
      {% csrf_token %}
      <tr align=center>
        <td colspan=8>
          <input type=text placeholder="search RSID" name='srchkeyword' style="width:92%;" />
          <input type='submit' value="🔍" title='search' />
        </td>
      </tr>
    </form>
      <form method="POST" enctype="multipart/form-data" action="{% url 'search:upload' %}">
      {% csrf_token %}
      <tr align=center>
        <td colspan=8>
          <a href="{% url 'search:file_download' %}"><input type='button' value='example' title='sample file download'></a>
          <input type="file" name="file" id="id_file" style="width:70%" />
          <input type="submit" value="UPLOAD" title='upload and search' class='btn' />
        </td>
      </tr>
    </form>
    <tr>
      <td colspan=8 align=center>
        <br>

          {% if messages %}

             {% for message in messages %}
             <h4 style='color:#ff5733'>{{ message }}
             {% endfor %}
         {% else %}
           <h4 style='color:darkorange'> only [ .txt ] files avaliable !
          {% endif %}
        </h4>
      </td>
    </tr>
  </table>

</body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
