#img{
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
}
#title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    }

.add{
    background : url('gif/add.gif');
    
}
.move{
    background: url('gif/move_version.gif');
}
.search{
    background: url('gif/search.gif');
}
.edit{
    background: url('gif/edit.gif');
}

.delete{
    background: url('gif/delete.gif');
}

.upload{
    background: url('gif/upload.gif');
}

